vim/haddock_index.vim
vim/haskellmode.config
vim/.netrwhist
vim/spell/
mutt/cache

vim/bundle/
!vim/bundle/a/
vim/bundle/a/doc/tags
!vim/bundle/bufferexporer/
vim/bundle/bufferexplorer/doc/tags
!vim/bundle/Vundle.vim
