Config
  { font = "-xos4-terminus-*-*-*-*-12-*-*-*-*-*-*-*"
  , bgColor = "black"
  , fgColor = "white"
  , position = Top
  , lowerOnStart = True
  , commands =
      [ Run StdinReader
      , Run MultiCpu ["-L","3","-H","50","--normal","green","--high","red"] 10
      , Run Memory ["-t","Mem: <usedratio>%"] 10
      , Run Battery
          [ "-t", "AC: <acstatus> <timeleft> (<left>%)"
          , "-L", "10", "-H", "80", "-p", "3"
          , "--", "-O", "<fc=green>[on]</fc>", "-o", "<fc=orange>[off]</fc>"
          , "-L", "-15", "-H", "-5"
          , "-l", "red", "-m", "cyan", "-h", "green"]
         600
      , Run Volume "default" "Master" [] 10
      , Run Date "%a %_d.%m.%y %H:%M:%S" "date" 10
      , Run Com "cat ~/.newgooglemail" [] "gmail" 10
      ]
  , sepChar = "%"
  , alignSep = "}{"
  , template = "%StdinReader% }{ %gmail% %default:Master% . %battery% . %multicpu% . %memory% . <fc=cyan>%date%</fc> "
  }
-- vim:ft=haskell:tw=9999:
