snippet vgo
	Viele Grüße
	Oliver

snippet vgob
	Viele Grüße
	Oliver Braun

snippet mfgob
	Mit freundlichen Grüßen
	Oliver Braun

snippet ro
	Regards,
	    Oliver

snippet rob
	Regards,
	    Oliver Braun

